{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated() %}
<div>
	<p>Hello {{ current_user.username }}</p>
</div>

<div>
	<p><a href='/post'>Post</a></p>
</div>

<div>
	<p><a href='/logout'>Logout</a></p>
</div>

{% else %}
<div id="form_container">
	<h3>Registered Users Login Here</h3>
	<form action="" method="post" name="login">
		{{ form.hidden_tag() }}
		<div id="login_form">
			<p>Username {{form.username}}<br>
				{% for error in form.errors.username %}
				<label id="login_form_error">{{error}}</label>
				{% endfor %}
			</p>
			<p>Password {{form.password}}<br>
				{% for error in form.errors.password %}
				<label id="login_form_error">{{error}}</label>
				{% endfor %}
			</p>
			<p>Remember me {{form.remember_me}}</p>
		</div>
		<div><input type="submit" value="Sign In"></div> 
	</form>
</div>
{% endif %}

{% endblock %}