@charset "UTF-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
 	font-size: 100%;
 	margin: 0;
 	background-color: #F5F5F5;
}

#masthead {
	width: 100%;
	background-color: #FFFFFF;
	height: 20%;
	padding: .2%;
	border-bottom-style: solid;
	border-bottom-width: thick;
	border-bottom-color: #7851a9; 
}

#masthead h2 {
	margin: 1.5% 1.5%;
}

#masthead h2 a {
	text-decoration: none;
}

#masthead ul {
	text-align: center;
	line-height: 50%;
	margin-right: 15%;
	font-size: 125%;
}

#masthead li {
	display: inline-block;
}

#masthead a {
	color: #696969;
}

#nav {
	position: fixed;
	width: 100%;
	background-color: #b2b2cc;
	height: 10%;
}

#post {
	margin: 1%;
	background-color: #FFFFFF;
	line-height: 1.5em;
	padding: .50em 1em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color: #696969;
	border-style: solid;
	border-color: LightGray;
	border-bottom-width: thin;
}

#title {
	font-size: 150%;
	font-weight: bold;
	color: black;
	line-height: 25%;
}

#byline {
	font-size: 80%;
	margin-top: -1%;
	margin-bottom: -3%;
}

#post_body {
	margin-top: 1.75em;
}

#post_wrapper {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #7851a9;
}

#sidebar {
	margin: 1%;
	background-color: #FFFFFE;
	line-height: 1.5em;
	padding: 1em 1em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border-style: solid;
	border-color: LightGray;
	border-bottom-width: thin;
}

#flashed_messages {
	top-margin: 20px;
	clear: both;
	width: 100%;
}

#flashed_messages li {
	color: red;
	display: inline-block;
}

#footer {
	clear: both;
	width: 100%;
	background-color: #7851a9;
	line-height: 175%;
}

#admin_login {
	text-align: right;
	padding-right: 2%;
}

#footer li {
	display: inline-block;
}

#footer a {
	color: #b2b2cc;
}

#form_container {
	margin-left: 10%;
}

#login_form_error {
	color: red;
}

#title_input {
	width: 50%;
	height: 1.5em;
}

#body_input {
	width: 50%;
	height: 5em;
}

#about_title {
	margin: 1%;
	background-color: #7851a9;
	color: white;
	font-size: 350%;
	padding: .5em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#about_title p {
	text-align: center;
}

#about_body {
	margin: 1%;
	background-color: #7851a9;
	color: white;
	line-height: 1.5em;
	padding: .5em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

@media screen and (min-width: 481px) {

#post {
	margin: 1%;
}

#sidebar {
	margin: 1%;
}
	
@media screen and (min-width: 780px) {

#masthead h2 {
	margin: 1.5% 0 1% 18%;
}
	
#post { 
	float: left;
	margin: 2% 1.5% 2% 18%;
	width: 52%;
	max-width: 600px;
}
	
#sidebar {
  float: left;
  margin: 2% 1% 2% 0%;
  width: 10%;
}
  
#about_body { 
	float: left;
	margin: 5% 1% 2% 0%;
	width: 30%;
	max-width: 600px;
}
 
#about_title {
  float: left;
  margin: 2% 1.5% 2% 18%;
  width: 20%;
}
 
#footer {
	 clear: both;
}

#form_container {
	margin: 2% 0% 2% 18%;
}
