@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
}

body {
	font-family: Trebuchet MS, Helvetica, sans-serif;
 	font-size: 100%;
 	margin: 0;
 	background-color: white;
 	color: #6D6D6D;
 	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -30px;
}

/* Masthead styles */
#masthead {
	width: 100%;
	background-color: gainsboro;
	height: 20%;
	padding: .1% 0% .2% 0%;
	border-bottom-style: solid;
	border-bottom-width: thick;
	border-bottom-color: #7851a9; 
}

.masthead_elements {
	margin-top: 0%;
	margin-left: 1%;
	margin-bottom: 8.5px;
	line-height: 1.5em;
	padding-right: .5em;
	padding-left: .5em;
}

#masthead h2 a {
	text-decoration: none;
	font-size: 100%;
}

#masthead ul {
	text-align: left;
	line-height: 50%;
	margin-right: 16%;
}

#masthead li {
	display: inline-block;
}

#masthead a {
	color: #3F3F3F;
}

/* Styles for main Index page, including blog post container,
and post title, body and byline styles */

#post {
	margin: 1%;
	max-width: 100%;
}

.post_wrapper {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #7851a9;
	clear: both;
	line-height: 1.5em;
	padding: 1em .50em 2em .50em;
	margin-bottom: 1em;
}

#title {
	font-size: 150%;
	color: #7851a9;
	margin: .5% 0 0 0;
	font-weight: 600;
}

#title a {
	text-decoration: none;
	color: #7851a9;
}

#title a:hover {
	color: #AD33AD; 
}

#byline {
	font-size: 85%;
	margin-top: -.5%;
	color: #999999;

}

#post_body {
	margin-top: -1%;
	font-size: 110%;
	font-weight: 700;
}

.right {
	float: right;
	margin: 0 1%;
	max-width: 35%;
	padding-right: 2%;
	padding-top: 1%;
}

.left {
	float: left;
	margin: 1%;
	max-width: 35%;
	clear: right;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	max-width: 40%;
	clear: both;
}

.spacer {
	clear: both;
}

.post_footer {
	text-align: right;
	font-size: 80%;
	margin-bottom: -2%;
}

.post_footer li {
	display: inline-block;
	padding-right: 3%;
}

.pagination {
	text-align: left;
	margin-left: -20px;
}

.pagination li {
	display: inline-block;
}

div.pagination a {
	text-decoration: underline;
}

div.pagination a:hover{
	border: 1px solid #000099;

	color: #000;
}
	
div.pagination a:active {
	border: 1px solid #7851a9;

	color: #f00;
}

div.pagination span.current_item {
		padding: 1px 2px 1px 2px;
		margin: 1px;
		border: .5px solid #fff;
		
		font-weight: bold;
		background-color: #fff;
		color: #000;
}

div.pagination span.disabled_item {
		border: .5px solid #EEE;
	
		color: #DDD;
}

/* Styles for main Index page sidebar */
#sidebar {
	margin: 1%;
	line-height: 1.5em;
	border-radius: 16px;
	padding: 1em;
	padding-bottom: 3.5em;
	padding-top: .5em;
	font-weight: 500;
}

#sidebar div {
	display: inline;
	border-bottom-style: dotted;
	border-width: thick; 
	border-bottom-width: 2.5px;
	text-align: center;
	color: #7851a9;
	font-size: 105%;
	border-color: #7851a9;
	font-weight: 500;
}

/* Additional styles for Admin page, including login form */
.form_container {
	margin: 0 1% 1% 1%;	
	padding: 1em 1em;
}

.form_container {
	max-width: 790px;
	margin: 0 auto;
}

#login_form_error {
	color: red;
}

/* Styles for Post page, including post form styles */
#blog_post_form * {
	margin: 0;
}

#title_input {
	width: 50%;
	height: 1.5em;
}

#flask-pagedown-body {
	width: 50%;
	height: 5em;
	margin-bottom: 2%;
}

.flask-pagedown-preview {
	border-style: solid;
	border-width: thin;
	border-color: #7851a9;
	max-width: 50%;
	margin: 1% 0% 0% 0%;
}

#image_instructions {
	max-width: 50%;
}

.image_url_input {
	width: 38%;
}

.blog_post_form_error {
	color: red;
}

#blog_post_form {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

#blog_post_form li {
	display: block;
	padding: 10px 0;
}

/* Styles for About page */
#about_title {
	background-color: #7851a9;
	color: white;
	font-size: 300%;
	padding: 1%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	margin: 1.5%;
}

#about_title p {
	text-align: center;
}

#about_body {
	background-color: #7851a9;
	color: white;
	line-height: 1.5em;
	padding: 1% 15px 1% 15px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	margin: 1.5%;
}

#about_body a {
	color: #b2b2cc;
}

/* Footer styles */
.footer, .push {
	clear: both;
	height: 30px;
}

.footer {
	background-color: #7851a9;
}

.footer li {
	display: inline-block;
}

.footer a {
	color: #b2b2cc;
}

#admin_links {
	text-align: right;
	padding: 5px;
	padding-right: 4%;
	margin: 0;
}

/* Flashed message styling */
#flashed_messages {
	top-margin: 20px;
	clear: both;
	width: 100%;
}

#flashed_messages li {
	color: red;
	display: inline-block;
}

/* Styles for error pages */
.error {
	text-align: center;
}

/* Styles for buttons */
input[type="submit"] {
    display: block;
    height: 2em;
    width: 10em;
    background: gainsboro;
    border: 1px solid #b2b2cc;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.5);
    color: black;
    font-size: 75%;
}

.myButton {
	display: block;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #7851a9;
	width: 50%;
}

#post_form_submit {
	margin-top: .75%;
	width: 75%;
}

/* Styles rules for screens @ least 481px */
@media screen and (min-width: 481px) {

#post {
	margin: 1%;
}

#title {
	font-size: 150%;
}
	
/* Style rules for screens @ least 780 px */
@media screen and (min-width: 790px) {

#container {
	margin: 0 auto 2px auto;
	width: 790px;
}

.masthead_elements { 
	margin: 1% 1% 8.5px 1%;
}
	
#masthead div {
	width: 790px;
	margin: 0 auto;
}

#post { 
	float: left;
	margin: 1% 1% 8.5px 1%;
	padding-bottom: 15px;
	width: 70%;
}

.pagination {
	text-align: center;
	margin-right: 8%;
}
	
#sidebar {
  float: left;
  margin: 1%;
  width: 20%;
}
  
#about_body { 
	float: left;
	margin: 2% 1% 2% 0%;
	width: 55%;
}
 
#about_title {
  float: left;
  margin: 2% 1.5% 2% 1%;
  width: 35%;
}

form {
	padding-left: 10px;
}

.right {
	max-width: 50%;
}

.left {
	max-width: 50%;
}

.center {
	max-width: 55%;
}

.center_image_extra_bottom_margin {
	padding-bottom: 5%;
}

.post_wrapper_no_border {
	border-bottom: none;
}