@charset "UTF-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
 	font-size: 100%;
 	margin: 0;
 	background-color: #f8f8ff;
}

#masthead {
	width: 100%;
	background-color: #7851a9;
	height: 20%;
	padding: .5%;
}

#masthead h2 {
	margin: .50em;
}

#masthead ul {
	text-align: center;
}

#masthead li {
	display: inline-block;
}

#masthead a {
	color: #b2b2cc;
}

#nav {
	position: fixed;
	width: 100%;
	background-color: #b2b2cc;
	height: 10%;
}

#post {
	margin: 1%;
	background-color: #b2b2cc;
	line-height: 1.5em;
	padding: 1em 1em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#sidebar {
	margin: 1%;
	background-color: #b2b2cc;
	line-height: 1.5em;
	padding: 1em 1em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#flashed_messages {
	top-margin: 20px;
	clear: both;
	width: 100%;
}

#flashed_messages li {
	color: red;
	display: inline-block;
}

#footer {
	top-margin: 20px;
	clear: both;
	width: 100%;
	background-color: #7851a9;
	padding: .1%;
}

#footer ul {
	text-align: center;
}

#footer li {
	display: inline-block;
}

#footer a {
	color: #b2b2cc;
}

#form_container {
	margin-left: 10%;
}

#login_form_error {
	color: red;
}

@media screen and (min-width: 481px) {

#main {
	margin: 1%;
}

#sidebar {
	margin: 1%;
}
}


@media screen and (min-width: 780px) {
	
#main { 
	float: left;
	margin: 2% 5% 2% 9%;
	width: 62%;
	max-width: 600px;
	}
	
#sidebar {
  float: left;
  margin: 2% 1% 2% 0%;
  width: 10%;
  }
 
#footer {
	 clear: both;
 }
