@charset "UTF-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
 	font-size: 100%;
 	margin: 0;
 	background-color: #F5F5F5;
}

/* Masthead styles */
#masthead {
	width: 100%;
	background-color: #FFFFFF;
	height: 20%;
	padding: .2%;
	border-bottom-style: solid;
	border-bottom-width: thick;
	border-bottom-color: #7851a9; 
}

#masthead h2 a {
	text-decoration: none;
	font-size: 110%;
	font-weight: 450;
}

#masthead ul {
	text-align: center;
	line-height: 50%;
	margin-right: 15%;
}

#masthead li {
	display: inline-block;
}

#masthead a {
	color: black;
}

/* Styles for main Index page, including blog post container,
and post title, body and byline styles */

#post_wrapper {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #7851a9;
}

#post {
	margin: 1%;
	background-color: #FFFFFF;
	line-height: 1.5em;
	padding: .50em 1em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color: #696969;
	border-style: solid;
	border-color: LightGray;
	border-bottom-width: thin;
}

#title {
	font-weight: bold;
	color: black;
	line-height: 25%;
}

#byline {
	font-size: 80%;
	margin-top: -1%;
	margin-bottom: -3%;
}

#post_body {
	margin-top: 1.75em;
}

/* Styles for main Index page sidebar */
#sidebar {
	margin: 1%;
	background-color: #FFFFFE;
	line-height: 1.5em;
	padding: 1em 1em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border-style: solid;
	border-color: LightGray;
	border-bottom-width: thin;
	color: #696969;
}

#sidebar div {
	display: inline;
	border-right-style: solid;
	border-right-width: 2.5px;
	border-left-style: solid;
	border-left-width: 2.5px;
	padding: 0 4px;
	color: black;
	font-size: 110%;
	border-color: #7851a9;
}

/* Additional styles for Admin page, including login form */
#admin_login {
	text-align: right;
	padding-right: 2%;
}

#form_container {
	margin-left: 10%;
}

#login_form_error {
	color: red;
}

/* Styles for Post page, including post form styles */
#title_input {
	width: 50%;
	height: 1.5em;
}

#body_input {
	width: 50%;
	height: 5em;
}

/* Styles for About page */
#about_title {
	margin: 1%;
	background-color: #7851a9;
	color: white;
	font-size: 350%;
	padding: 1%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#about_title p {
	text-align: center;
}

#about_body {
	margin: 1%;
	background-color: #7851a9;
	color: white;
	line-height: 1.5em;
	padding: 1%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#about_body a {
	color: #b2b2cc;
}

/* Footer styles */
#footer {
	clear: both;
	width: 100%;
	background-color: #7851a9;
	line-height: 175%;
}

#footer li {
	display: inline-block;
}

#footer a {
	color: #b2b2cc;
}

/* Flashed message styling */
#flashed_messages {
	top-margin: 20px;
	clear: both;
	width: 100%;
}

#flashed_messages li {
	color: red;
	display: inline-block;
}

/* Styles rules for screens @ least 481px */
@media screen and (min-width: 481px) {

#post {
	margin: 1%;
}

#title {
	font-size: 150%;
}

#sidebar {
	margin: 1%;
}
	
/* Style rules for screens @ least 780 px */
@media screen and (min-width: 780px) {

#masthead ul {
	line-height: 75%
}

#masthead h2 a {
	text-decoration: none;
	font-size: 110%
}
	
#post { 
	float: left;
	margin: 2% 1.5% 2% 18%;
	width: 52%;
	max-width: 600px;
}
	
#sidebar {
  float: left;
  margin: 2% 1% 2% 0%;
  width: 10%;
}
  
#about_body { 
	float: left;
	margin: 2% 1% 2% 0%;
	width: 25%;
	max-width: 600px;
}
 
#about_title {
  float: left;
  margin: 2% 1.5% 2% 18%;
  width: 25%;
}

#form_container {
	margin: 2% 0% 2% 18%;
}
 
#footer {
	 clear: both;
}
