@charset "UTF-8";
/* CSS Document */

body {
	font-family: Trebuchet MS, Helvetica, sans-serif;
 	font-size: 100%;
 	margin: 0;
 	background-color: white;
 	color: #6D6D6D;
}

/* Masthead styles */
#masthead {
	width: 101%;
	background-color: gainsboro;
	height: 20%;
	padding: .1% 0% .2% 0%;
	border-bottom-style: solid;
	border-bottom-width: thick;
	border-bottom-color: #7851a9; 
}

.masthead_elements {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 8.5px;
	line-height: 1.5em;
	padding-right: 1em;
	padding-left: 1em;
}

#masthead h2 a {
	text-decoration: none;
	font-size: 110%;
	font-weight: 450;
}

#masthead ul {
	text-align: left;
	line-height: 50%;
	margin-right: 16%;
}

#masthead li {
	display: inline-block;
}

#masthead a {
	color: #3F3F3F;
}

/* Styles for main Index page, including blog post container,
and post title, body and byline styles */

#post {
	margin: 1%;
}

#post_wrapper {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #7851a9;
	clear: both;
	line-height: 1.5em;
	padding: .50em 1em;
}

#title {
	font-weight: bold;
	color: #3F3F3F;
	line-height: 25%;
}

#byline {
	font-size: 90%;
	margin-top: 1%;
	margin-bottom: -2.5%;
}

#post_body {
	margin-top: -1%;
	font-size: 105%
}

.right {
	float: right;
	margin: 0 1%;
	max-width: 35%;
}

.left {
	float: left;
	margin: 1%;
	max-width: 35%;
	clear: right;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	max-width: 42%;
	clear: both;
}

.spacer {
	clear: both;
}

/* Styles for main Index page sidebar */
#sidebar {
	margin: 1%;
	line-height: 1.5em;
	padding: 1em 1em;
	border-radius: 16px;
}

#sidebar div {
	display: inline;
	border-bottom-style: dotted;
	border-width: thick; 
	border-bottom-width: 2.5px;
	text-align: center;
	color: #7851a9;
	font-size: 105%;
	border-color: #7851a9;
}

/* Additional styles for Admin page, including login form */
#admin_links {
	text-align: right;
	padding-right: 2%;
}

#form_container {
	margin-left: 10%;
}

#login_form_error {
	color: red;
}

/* Styles for Post page, including post form styles */
#title_input {
	width: 50%;
	height: 1.5em;
}

#flask-pagedown-body {
	width: 50%;
	height: 5em;
}

.flask-pagedown-preview {
	border-style: solid;
	border-width: thin;
	border-color: #7851a9;
	max-width: 50%;
	margin: 1% 0% 0% 0%;
}

#image_instructions {
	max-width: 50%;
}

.image_url_input {
	width: 38%;
}

#submit {
	padding: 1%;
	max-width: 49%;
	border-top-style: solid;
	border-top-width: thin;
	border-color: #7851a9;
}

.blog_post_form_error {
	color: red;
}

/* Styles for About page */
#about_title {
	margin: 1%;
	background-color: #7851a9;
	color: white;
	font-size: 350%;
	padding: 1%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#about_title p {
	text-align: center;
}

#about_body {
	margin: 1%;
	background-color: #7851a9;
	color: white;
	line-height: 1.5em;
	padding: 1%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#about_body a {
	color: #b2b2cc;
}

/* Footer styles */
#footer {
	clear: both;
	width: 101%;
	background-color: #7851a9;
	line-height: 175%;
}

#footer li {
	display: inline-block;
	margin-right: 2%;
}

#footer a {
	color: #b2b2cc;
}

/* Flashed message styling */
#flashed_messages {
	top-margin: 20px;
	clear: both;
	width: 100%;
}

#flashed_messages li {
	color: red;
	display: inline-block;
}

/* Styles for error pages */
.error {
	text-align: center;
}

/* Styles rules for screens @ least 481px */
@media screen and (min-width: 481px) {

#post {
	margin: 1%;
}

#title {
	font-size: 150%;
}

#sidebar {
	margin: 1%;
}
	
/* Style rules for screens @ least 780 px */
@media screen and (min-width: 780px) {

.masthead_elements { 
	margin-top: 1%;
	margin-right: 0%;
	margin-bottom: 8.5px;
	margin-left: 16%;
}
	
#post { 
	float: left;
	margin: 1% 1% 2% 16%;
	width: 52%;
	max-width: 850px;
}
	
#sidebar {
  float: left;
  margin: 1% 1% 2% 0%;
  width: 15%;
}
  
#about_body { 
	float: left;
	margin: 2% 1% 2% 0%;
	width: 25%;
	max-width: 600px;
}
 
#about_title {
  float: left;
  margin: 2% 1.5% 2% 18%;
  width: 25%;
}

#form_container {
	margin: 2% 0% 2% 18%;
}
 
#footer {
	 clear: both;
}
