{% extends "base.html" %}

{% block content %}

<div id ="about_title">
	<p>About</p>
</div>

<div id="about_body">
	<p>I currently work as in-house counsel for <a href="http://www.turner.com/brands/turner-sports" target="_blank">Turner Sports</a>. I went to college at UGA and law school at Vandy and now live in Atlanta, Georgia with my wife and two daugthers.</p>
	<p>This blog is a hobby project and was built with <a href="https://www.python.org/" target="_blank">Python</a> and the <a href="http://flask.pocoo.org/" target="_blank">Flask</a> web framework.  Thanks for checking it out.</p>
</div>


{% endblock %}

