{% extends "base.html" %}

{% block content %}
<div id ="about_title">
	<p>About</p>
</div>

<div id="about_body">
	<p>I'm an in-house technology and media lawyer
	for the sports division of a big entertainment company.
	I went to school in two of the world's best towns,
	<a href="http://www.kiplinger.com/article/business/T012-C000-S002-no-5-athens-georgia.html">
	Athens, GA</a> and <a href="http://www.forbes.com/sites/pauljankowski/2013/01/23/nashville-is-nowville-and-has-been-for-a-while/">
	Nashville, TN</a>, and now live with my wife and daughter in the 
	<a href="http://en.wikipedia.org/wiki/Candler_Park">
	Candler Park</a> neighborhood of Atlanta, GA.  
	I'm a hobbyist coder and built this blog site using
	<a href="https://www.python.org/about/">Python</a> and the
	<a href="http://flask.pocoo.org/">
	Flask</a> web framework.  
	I also enjoy playing golf and
	<a href="http://en.wikipedia.org/wiki/Fingerstyle_guitar#Travis_picking">
	guitar</a>.  Thanks for taking a look.	
</div>
{% endblock %}

