<!DOCTYPE html>
<html>
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>Kevin Glidewell</title>
		{% endif %}

		<link rel="stylesheet" href="/static/base_styles.css">

		{{ moment.include_jquery() }}
		{{ moment.include_moment() }}

	</head>
	
	<body>

	<div id="masthead">
		<hgroup>
			<h2><a href="/index">Kevin Glidewell</a></h2>
			<ul>
				<li><a href="{{url_for('index')}}">Home</a></li>
				<li><a href="{{url_for('about')}}">About</a></li>
			</ul>
		</hgroup>
	</div>

	<div id="flashed_messages">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
	</div>

{% block content %}
{% endblock %}
	
	<footer id="footer">
		<ul id="admin_login">
		{% if session.logged_in %}
			<li>
				<a href="{{ url_for('post') }}">Post</a>
				<a href="/logout">Logout</a>
			</li>
		{% else %}
			<li><a href="/admin">Admin Login</a></li>
		{% endif %}
		</ul>
	</footer>
	
	</body>
</html>