{% extends "base.html" %}

{% block content %}

<div id="post">
{% for post in posts.items %}
	<div id="post_wrapper">
		<p id="title">{{ post.title }}</p>
		<p id="byline">
			By: {{ post.user.username }} on {{ moment(post.timestamp).format('LLL') }}
		</p>
		<p id="post_body">{{post.body }}</p>
		{% if post.user_id == session['user_id'] %}
		<p><a href="{{ url_for('delete', id = post.id) }}">Delete</a></p>
		{% endif %}
	</div>
{% endfor %}
	
{% if posts.has_prev %}<a href="{{url_for('index', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} |
{% if posts.has_next %}<a href="{{url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}
	
</div>

<div id="sidebar">
	<p>About content describing the site.</p>
</div>

{% endblock %}

