{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}

<div id="post">
{% for post in posts %}
	<div class="post_wrapper {% if single_post %}post_wrapper_no_border{% endif %}">
		<p id="title">
			{% if not single_post %}
			<a href="{{ url_for('.single_post', id=post.id) }}">{{ post.title }}</a>
			{% else %}
			<span class="title_no_link">{{ post.title }}</span>
			{% endif %}
		</p>
		<p id="byline">
			{{ moment(post.timestamp).format('L') }}
		</p>
		<p id="post_body">
			{% if post.image1_url %}
				<img src="{{ post.image1_url }}" class="right"/>
			{% endif %}
			{% if post.image2_url %}
				<img src="{{ post.image2_url }}" class="left"/>
			{% endif %}
			{% if post.body_html %}
				{{ post.body_html | safe }}
			{% else %}
				{{ post.body }}
			{% endif %}
			{% if post.image3_url %}
				<img src="{{ post.image3_url }}" class="center {% if single_post %}center_image_extra_bottom_margin{% endif %}"/>
			{% endif %}
			<div class="spacer"></div>
		</p>
		<div class="post_footer">
			<ul>
				{% if current_user.is_authenticated() %}
					{% if current_user.id == post.user_id %}
					<li>
						<a href="{{ url_for('main.edit', id = post.id) }}">Edit</a>
						<a href="{{ url_for('main.delete', id = post.id) }}" class="confirmation">Delete</a>
					</li>
 					{% endif %}
 				{% endif %}
 		</div>
	</div>
{% endfor %}

	<div class="pagination">
		{% if pagination %}
			{{ macros.pagination_widget(pagination, '.index') }}
		{% endif %}
	</div>

</div>

<div id="sidebar">
	<div>About</div><br>Hi, I'm a technology and media lawyer living in Atlanta, Georgia. <a href="{{ url_for('main.about') }}">More</a>
</div>

{% endblock %}